.services__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-top: 12rem;
    margin-bottom: 12rem;
}

.top_services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: #ccc7c7;
    background-image: linear-gradient(#3B4046, #6C6C6C);

}

.service {
    background: var(--color-bg-variant);
    border-radius: 15px 15px 2rem 2rem;
    border: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
}

.service:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.service__head {
    background: #226b9f;
    padding: 2rem;
    border-radius: 15px 15px 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.service__head > h3 {
    color: var(--color-light);
    font-size: 1rem;
    text-align: center;
}

.service__head > h2 {
    color: var(--color-light);
    font-size: 1.5rem;
    text-align: center;
}

.service__list {
    padding: 2rem;
}

.service__list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.service__list-icon {
    color: var(--color-primary);
    margin-top: 2px;
}

.service__list p {
    font-size: 0.9rem;
}

.job__img {
    max-height: 70px;
    max-width: 70px;
    margin: auto;
    margin-top: 0.5rem;
}


/* ********************* MEDIA QUERIES (MEDIUM SIZE) ************************ */
@media screen and (max-width: 1024px) {
    .services__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    
    .service{
        height: auto;
    }
}
   

/* ********************* MEDIA QUERIES (SMALL SIZE) ************************ */
@media screen and (max-width: 600px) {
    .services__container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}